{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": [0],
    "curly": [0],
    "quotes": [2, "single"],
    "no-underscore-dangle": [0],
    "no-trailing-spaces": [2, { skipBlankLines: true }]
  }
}
